#outer {
    background-image: url("C:/Users/adria/Documents/Business/Work_Linux/Porfolio/My Sites/Ripped Geeks/bodybuilder-vh.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  height: 100vh;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: xx-large;
    color: #3399FF;
}
#blueDiv {
    width: 100px;
    height: 100px;
    background-color: #3399FF;
}
